* {
    margin: 2px;
  }
  
  .loginpage {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .loginform {
    width: 400px;
    margin: 10px;
  }
  
  .formbtn{
    display: flex;
    flex-direction: column;
  }
  
  .flex-item1{
    width: 70px;
    align-self: flex-end;
  }
  
  .flex-item2{
    align-self: center;
  }
  
  